/* Universal Style */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

/* Banner Section */
.banner {
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding: 1rem 0 0 0;
}

nav {
  max-width: 960px;
  background-color: cadetblue;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.company {
  margin: 1rem 0 1rem 2rem;
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  display: inline-block;
}

.company h3 {
  display: inline-block;
  margin-left: 1rem;
}

#menu {
  display: none;
}

.navigation span {
  margin-right: 2rem;
}

.title-box {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
}

.title {
  background-color: white;
  position: relative;
  float: right;
  display: inline-block;
  margin-top: 10rem;
}

.title h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

/* Services Section */
.services {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.paper {
  max-width: 3.5rem;
  height: auto;
  display: block;
}

.ruler,
.truck {
  max-width: 5rem;
  height: auto;
  display: block;
}

/* Information Section */
.information {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.infobox {
  width: 35%;
  margin: 0 2.5%;
}

.infobox h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.infobox p {
  line-height: 1.4;
}

/* Footer section */
footer {
  max-width: 960px;
  background-color: azure;
  margin: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

/* tablets settings */
@media only screen and (max-width: 768px) {
  .banner {
    height: 22rem;
    padding: 0;
  }

 .title {
   margin-top: 5rem;
   margin-right: 2rem;
 }

 .title h1 {
   font-size: 1.33rem;
   margin: 0.75rem 4rem;
   line-height: 1.4;
 }
}

/* Smartphone screen settings */
@media only screen and (max-width: 480px) {
  /* banner and title section */
  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .company h3 {
    display: none;
  }

  .navigation span {
    display: none;
  }

  #menu {
    display: inline-block;
  }

  .title {
    margin: 9rem auto 0 auto;
    text-align: center;
    width: 100%;
  }

  .title h1 {
    font-size: 1rem;
    margin: 1rem auto;
    line-height: normal;
  }

  /* services section */
  .services {
    flex-flow: column;
    padding: 3.77rem auto;
  }

  .rulerbox {
    margin: 1.54rem auto;
  }

  .description {
    font-size: 0.77rem;
  }

  .item {
    justify-content: space-around;
  }

  /* information section */
  .information {
    flex-flow: column;
  }

  .infobox {
    width: 100%;
    margin: 0 auto;
  }

  .infobox h2 {
    width: 100%;
    text-align: center;
  }

  .infobox p {
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }
}
